.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #FADDDA;
}

.nav_list ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.nav_list li {
    position:relative;
}

.nav_list a:hover, .nav_list a:focus {
    background-color: #FADDDA;
    color: #660000;
    border-radius: 5px;
    padding: 5px;
}

.nav_list a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color:#660000;
    font-weight:bold;
    font-family: "Playfair Display", Georgia, serif;
}

.nav_item_drop {
   display:none;
    poisition: absolute;
    top:100%;
    left:0;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #FADDDA;
    border-radius: 4px;
    min-width: 180px;
    padding: 10px 0;
    margin-top: 5px;
    list-style: none;
    flex-direction: column;
    gap: 0;
}

.nav_item_drop li {
   padding: 0;
}

.nav_item_drop a {
    padding: 10px 20px;
    white-space: nonwrap;
}

.nav_item_drop li:hover, .nav_item_drop li:focus {
    background-color: #FADDDA;
}

.nav_list:hover, .nav_item_drop {
    display: flex;
}


