
.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #FADDDA;
}

.primary-nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 30px 40px;
    
}

.primary-nav a:hover, .primary-nav a:focus {
    background-color: #FADDDA;
    color: #660000;
    border-radius: 5px;
}

.primary-nav a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color:#660000;
    font-weight:bold;
    font-family: "Playfair Display", Georgia, serif;
}

.nav-dropdown {
    display:none;
    flex-direction: column;
    position: absolute;
    text-align:center;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #FADDDA;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 5px;
    gap: 8px;
    min-width: 115px;
}

.nav-dropdown li {
    list-style:none;
    padding: 5px;
    border-radius: 4px;
    color: #660000;
}

.nav-dropdown li:hover, .nav-dropdown li:focus {
    background-color: #FADDDA;
}

.primary-nav li {
    position:relative;
}

.primary-nav li a:hover, .primary-nav li a:focus {
    color: #660000;
    background-color: #FADDDA;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 16px;
}

.primary-nav li:hover .nav-dropdown {
    display: flex;
}
